[color]
	ui = auto
[user]
	email = minhajuddin@cosmicvent.com
	name = Khaja Minhajuddin
[gui]
	fontui = -family Consolas -size 12 -weight normal -slant roman -underline 0 -overstrike 0
[diff]
	tool = vimdiff
[difftool]
	prompt = 0
[merge]
	tool = kdiff3
[mergetool]
	prompt = 0
[alias]
        c = commit -m
        a = add .
        s = status -s
        f = fetch
        p = push
        b = branch
        l = log
        i = init
        co = checkout
        m = merge
        d = difftool
        amend = commit --amend -C HEAD
        ll = log --oneline -1
        lg = log --all --graph
        
